.App{
    margin: 0;
    padding: 0;
}
.dark{
    background: #000000;
    color: #fff;
  
}
.light{
    background-color: #fff;
    color: #000;
   
}
section{
    min-height: 100vh;
}
.style-switcher{
    position: fixed;
    top: 100px;
    right: 0px;
    background: rgba(0, 0, 0, 0);
    z-index: 50;
    border-radius: 50%;
}
.style-switcher button{
    font-size: 30px;
    padding: 10px;
    border: 50%;
    background: rgba(0, 0, 0, 0);
   
}
.style-switcher button:hover{
    font-size: 50px;
    transform:rotateX('angle');
    background-color: rgba(0, 0, 0, 0);
    border: none;
    transition: all 0.4s ease-in-out;
}